.main {
  display: flex;
  width: 100vw;
  height: auto;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.submit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.submit {
  border-radius: 6px;
  font-size: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 960px;
  height: 960px;
}

.square {
  flex: none;
  background-color: rgb(146, 146, 146);
}

.square.square-activated {
  background-color: rgb(115, 78, 150);
}